name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Validate JSON
        uses: emmanuelgautier/validate-json@v1
        with:
          files: schemas/**/*.json
